In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
csv_file = r'../0_bases_originais/dados.csv'

In [4]:
engine = create_engine(r'sqlite:///./banco.db', echo=True)

In [7]:
df = pd.read_csv(csv_file)
df.to_sql('gol', con=engine, if_exists='replace', index=False)

2024-11-22 18:16:18,796 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-22 18:16:18,807 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("gol")
2024-11-22 18:16:18,807 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-22 18:16:18,814 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("gol")
2024-11-22 18:16:18,814 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-22 18:16:18,814 INFO sqlalchemy.engine.Engine
CREATE TABLE gol (
	"Tempo" TEXT,
	"Tipo" TEXT,
	"Preco" FLOAT,
	"Dia" TEXT,
	"Dia_da_semana" TEXT,
	"Partida_local" TEXT,
	"Partida_horario" TEXT,
	"Chegada_local" TEXT,
	"Chegada_horario" TEXT
)


2024-11-22 18:16:18,814 INFO sqlalchemy.engine.Engine [no key 0.00196s] ()
2024-11-22 18:16:18,834 INFO sqlalchemy.engine.Engine INSERT INTO gol ("Tempo", "Tipo", "Preco", "Dia", "Dia_da_semana", "Partida_local", "Partida_horario", "Chegada_local", "Chegada_horario") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-11-22 18:16:18,840 INFO sqlalchemy.engine.Engine [generated in 0.00590s] [('01:05', 'Direto', 1962.01, ' 04/10', 'SEXTA-FEIRA', 'CGH ', ' 20:10', 'SDU ', ' 21:15'), ('01:05', 'Direto', 1962.01, ' 04/10', 'SEXTA-FEIRA', 'CGH ', ' 19:40', 'SDU ', ' 20:45'), ('01:05', 'Direto', 1962.01, ' 04/10', 'SEXTA-FEIRA', 'CGH ', ' 18:55', 'SDU ', ' 20:00'), ('01:05', 'Direto', 1962.01, ' 04/10', 'SEXTA-FEIRA', 'CGH ', ' 18:25', 'SDU ', ' 19:30'), ('01:05', 'Direto', 1962.01, ' 04/10', 'SEXTA-FEIRA', 'CGH ', ' 17:35', 'SDU ', ' 18:40'), ('01:05', 'Direto', 1962.01, ' 04/10', 'SEXTA-FEIRA', 'CGH ', ' 16:45', 'SDU ', ' 17:50'), ('01:05', 'Direto', 1962.01, ' 04/10', 'SEXTA-FEIRA', 'CGH ', ' 16:15', 'SDU ', ' 17:20'), ('01:05', 'Direto', 1962.01, ' 04/10', 'SEXTA-FEIRA', 'CGH ', ' 15:35', 'SDU ', ' 16:40')  ... displaying 10 of 452 total bound parameter sets ...  ('01:05', 'Direto', 641.01, ' 14/10', 'SEGUNDA-FEIRA', 'CGH ', ' 07:00', 'SDU ', ' 08:05'), ('01:05', 'Direto', 641.01, ' 14/10', 'SEGUNDA-FEIRA', 'CGH ', ' 06:20', 'SDU ', ' 07:25')]
2024-11-22 18:16:18,848 INFO sqlalchemy.engine.Engine COMMIT

452

In [5]:
df = pd.read_sql('SELECT * FROM gol', con=engine)
df

2024-11-25 12:48:48,138 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-25 12:48:48,140 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM gol")
2024-11-25 12:48:48,140 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-25 12:48:48,145 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM gol")
2024-11-25 12:48:48,150 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-25 12:48:48,154 INFO sqlalchemy.engine.Engine SELECT * FROM gol
2024-11-25 12:48:48,154 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-25 12:48:48,176 INFO sqlalchemy.engine.Engine ROLLBACK

,Tempo,Tipo,Preco,Dia,Dia_da_semana,Partida_local,Partida_horario,Chegada_local,Chegada_horario
0,01:05,Direto,1962.01,04/10,SEXTA-FEIRA,CGH,20:10,SDU,21:15
1,01:05,Direto,1962.01,04/10,SEXTA-FEIRA,CGH,19:40,SDU,20:45
2,01:05,Direto,1962.01,04/10,SEXTA-FEIRA,CGH,18:55,SDU,20:00
3,01:05,Direto,1962.01,04/10,SEXTA-FEIRA,CGH,18:25,SDU,19:30
4,01:05,Direto,1962.01,04/10,SEXTA-FEIRA,CGH,17:35,SDU,18:40
...,...,...,...,...,...,...,...,...,...
447,01:05,Direto,641.01,14/10,SEGUNDA-FEIRA,CGH,08:40,SDU,09:45
448,01:05,Direto,641.01,14/10,SEGUNDA-FEIRA,CGH,08:00,SDU,09:05
449,01:05,Direto,641.01,14/10,SEGUNDA-FEIRA,CGH,07:30,SDU,08:35
450,01:05,Direto,641.01,14/10,SEGUNDA-FEIRA,CGH,07:00,SDU,08:05
451,01:05,Direto,641.01,14/10,SEGUNDA-FEIRA,CGH,06:20,SDU,07:25